APP_HOST=0.0.0.0
APP_PORT=5213
JWT_SECRET=change-me
PERMANENT_STORAGE=mongodb
PERMANENT_DB=wacrm
json_MONGO_CONN1={"string":"mongodb://localhost:27017","user":"","password":""}
META_WHATSAPP_PHONE_ID=mock-phone-id
META_WHATSAPP_BUSINESS_ID=mock-business-id
META_WHATSAPP_TOKEN=mock-token
META_WHATSAPP_VERIFY_TOKEN=mock-verify-token
